.switch {
  display: flex;
  position: relative;
  height: 40px;
  width: 80px;
  background-color: blue;
  border-radius: 20px;
  margin-top: 10px;

  padding: 2px;
  align-items: center;
  &.on {
    background-color: blue;
  }
  .circle {
    position: absolute;
    margin-left: 1px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 5px;
    background-color: red;
    &.on {
      background-color: red;
      margin-left: 41px;
    }
  }
}
